/* personalPortfolio/personalPortfolio.css */

/***** Tags *****/
html {
    height: 100%;
    font-size: 100%; /* Inherits from Browser instead of Bootstrap. Most browser have default font size of 16px. */
}

body {
    height: 100%;
    font: 100%/1.5 Roboto, sans-serif; /* Font size is 100% of html font size - 16px. */
    color: #000;
    margin: 0;
    padding: 0;
    background: #FFF;
}

nav {
    margin: 1.25em 0 0 0; /* Em is equal to current font size which is 16px.  Right margin: 16px x 1.25 = 20px.  Margin size will change accordingly for different screen size resolutions. */
    padding: 0;
    /* border: 1px solid #e52d00;*/
}

nav ul {
    padding: .625em 0; /* 10px  10/16 */
    float: right;
}

nav ul li {
    font-size: 1em; /* 16px */
    margin: 0;
    padding: .1875em .3125em; /* 3px 5px */
    background: none;
    float: right;
}

nav ul li a {
    color: #666;
}

/*nav ul li a:visited {
    color: #a3a3a3;
    text-decoration:none;
}*/

main {
    width: 100%; /* .9028%; 1300px/1440px (My Mac) */
    margin: 0 0 2.5em 0; /* 16px2.5 40px */
    padding: 1.25em 0; /* 20px */
    background: #000; /*url(images/black-charcoal-swirl.jpeg) center/100% no-repeat;*/
    display: block;
}

figure {
    padding: 1.875em 0 0 0; /* 30px */
}

figcaption {
    font-size: .8125em; /* 13px 13/16 */
    font-weight: 600;
    color: #CCC;
    text-align: center;
    margin: .7692em  0 0 -1.1538em; /* 10px .7692X13x13=9.9996 15px 1.1538x13=14.9994 */
    padding: 0 0 .3846em 0; /* 5px .3846x13=4.9998px */
}

figcaption span {
    font-size: .8462em; /* 11px 11/13=11.0006 */
}

footer {
    color: #a3a3a3;
    margin: 0 .9375em; /* 15/16 15px */
}


/***** Ids *****/
#HeaderRow {
    padding-top: 1.25em; /* 20px 20/16 */
    padding-bottom: 1.25em; /* 20px 20/16 */
    border-radius: .125em; /* 2px 2/16 */
}

#HeadingName{
    font-size: 1.4em; /* 22px 1.4x16=22.4 */
    font-weight: 600;
    color: #000;
    text-decoration: none;
    margin: .3125em 0 0 0; /* 5px 5/16 */
    padding: 0 .625em 0 .625em; /* 10px 10/16 */
    transition: font-size 1s;
    display: block;
    float: left; /* Had left and right margins for ul and HeadingName. */
}

#HeadingName:hover {
    color: #963;
    text-decoration: none;
}

 #HeadingName:focus, #HeadingName:active {
     color: #000;
     text-decoration: none;
}

#FooterRow {
    background: #FFF;
}

#PaloAltoPlaces {
    border: 1px solid #333;
}

#BookLovers {
    border-top: 1px solid #333;
}

#AboutDiv{
    width: .9028%; /* 1300px/1440px (My Mac) */
    margin: 0;
    padding: 1.25em 0; /* 20px */
    background: #FFF;
}

#AboutWords {
    font-size: 1em;
    color: #000;
    margin-top: 3.125em; /* 50px 50/16 */
}

#AboutImage img {
    margin: 30px 0 0 0;
    border-radius: 10px;
}


/***** Classes *****/

.ProjectUL {
    margin: 0 0 0 -.625em; /* 10px 10/16 */
    padding: 0;
}

.ProjectUL li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.RepoSite {
    font-size: .9231em; /* 12px 12/13 .9231x13=12.0003 */
    color: #a3a3a3;
}

.EmailMobile:link {
    font-size: .9375em; /* 15px */
    color: #666;
    text-decoration: none;
    float: right;
}

.EmailMobile:hover {
    color: #963;
}


/***** Bootstrap Classes *****/

.navbar {
    position: relative;
    min-height: 0;
    margin-bottom: 5px;
    border: none;
}

.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #323232;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 0;
    margin-bottom: 13px;
}

.navbar-toggle:hover .icon-bar {
    background-color: #f4ab99;
}

.navbar-default .navbar-collapse {
    border-color: #FFF;
}

.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

.nav>li>a {
    padding: 0 15px;
}

.nav>li>a:hover {
    font-size: 1em;
    color: #963;
    margin-top: 0;
    background: #FFF;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

 .nav>li>a:active {
    font-size: 1em;
    color: #963;
    margin-top: 0;
    background: none;
    border: none;
    box-shadow: none;
}

.nav>li>a:focus {
    font-size: 1em;
    color: #a3a3a3;
    margin-top: 0;
    background: none;
    border: none;
    box-shadow: none;
}

/***** @media Bootstrap Classes *****/
@media (min-width: 1080px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-toggle {
        display: none;
    }
    .RightFloat {
        float: none;
    }
    .LeftFloat {
        float: none;
    }
}

@media (max-width: 1079px) { /* Display block? */
    .nav-pills > li {
        float: none;
    }
    .RightFloat {
        float: right;
    }
    .LeftFloat {
        float: left;
    }
}

@media (max-width: 659px) {
    .nav-pills > li {
        float: left;
    }
    .RightFloat {
        float: none;
    }
    .LeftFloat {
        float: none;
    }
}