<!-- personPortfolio/templates/about.html -->

            <div class="row">

                <h1 class="HeadingProjectAndAbout">About</h1>

                <div class="col-md-7 col-md-offset-1" id="AboutWords">

                    <p>I am a hi-tech professional, now a Full Stack Developer, in the San Francisco Bay Area excited about finding an opportunity to develop websites and/or web applications.</p>

                    <p>After receiving a Masters in Computer Science, I worked as a software engineer for nine years programming in C and then as a Technical Account Manager for 13 years.  After taking 3 years off to travel and spend time with my family on the east coast, I found I needed more technical expertise for most technical account management positions.  This led me to take HTML, CSS, JavaScript, and Python courses at UCSC Extension.  I found I loved creating web pages and the challenge of learning new technologies.  Wanting to learn more, I enrolled in a 12-week bootcamp for Full Stack Developer using the MEAN Stack.  I finished the bootcamp in November 2016.</p>

                    <p>One of the first things I learned about the Bay area the summer I moved here is that Golden State stood for fields of burnt grass.  Despite the "burnt", I loved the look of my new environment with open spaces dotted with California Oak trees, San Francisco with its hills, and the north bay with its Redwood trees and wineries.</p>

                    <p>What keeps me here is the year-long farmer’s markets, fresh organic fruits and vegetables, local honey and olive oil, the Chocolate Garage, Blue Bottle Coffee, great restaurants, numerous parks, and the diversity of people.</p>

                </div> <!-- Col-md-7 About Paragraphs -->

                <div class="col-md-3" id="AboutImage" >

                    <img class="img-responsive center-block" src="../images/susan-sico-black-background.jpg" alt="Picture of
                    Susan
                    Sico.">

                </div> <!-- Col-md-4 Image -->

            </div> <!-- Row -->
