<!-- personPortfolio/templates/contact.html -->

    <div id="ContactAboutWrapper">

        <div class="ContactHeader">

            <h1 id="ContactHeading">Get In Touch</h1><br>

        </div>

        <div class="ContactMain">

            <h4 class="AddressPhoneEmailHeadings">Address</h4>
            <span class="AddressContact">Palo Alto</span>
            <p class="AddressContact">CA 94301</p><br>

            <h4 class="AddressPhoneEmailHeadings">Phone</h4>
            <a class="PhoneEmailContact" href="tel: 16507993206">+1 (650) 799-3206</a><br><br>

            <h4 class="AddressPhoneEmailHeadings">Email</h4>
            <a class="PhoneEmailContact" href="mailto: susan.sico@gmail.com">susan.sico@gmail.com</a>

        </div>

        <div class="AboutMain">

            <h4 id="AboutHeading">About</h4><br>

            <p id="About">I have been in Hi-Tech as a Software Engineer, Technical Account Manager, and now Full Stack Developer for multiple years.   Currently I am developing Web Projects while working as a Barista at Blue Bottle Cafe.</p>

        </div>

    </div><br><br><br>