<!-- home.html -->


    <div class="row">

        <div id="TopScrollingExperienceAndSkills">

            <div>

                <span class="ScrollingExperienceAndSkillsTextStyle">Algorithm Development</span>
                <span class="ScrollingExperienceAndSkillsTextStyle">Clean Design</span>
                <span class="ScrollingExperienceAndSkillsTextStyle">Front-end Back-end Implementation</span>

            </div>

        </div>

    </div>

    <div class="row">

        <div id="MiddleScrollingExperienceAndSkills">

            <div>

                <span class="ScrollingExperienceAndSkillsTextStyle">Project Execution and Delivery</span>
                <span class="ScrollingExperienceAndSkillsTextStyle">Technical Management</span>
                <span class="ScrollingExperienceAndSkillsTextStyle">Issue Resolution</span>

            </div>

        </div>

    </div>

    <div class="row">

        <div id="BottomScrollingExperienceAndSkills">

            <div>

                <span class="ScrollingExperienceAndSkillsTextStyle">Clean Code</span>
                <span class="ScrollingExperienceAndSkillsTextStyle">Responsive UI</span>
                <span class="ScrollingExperienceAndSkillsTextStyle">High Customer Satisfaction</span>

            </div>

        </div>

    </div>

    <span id="JobTitleFull">Full</span>
    <span id="JobTitleStack">Stack</span>
    <span id="JobTitleDeveloper">Developer</span>