<!-- personalPortfolio/templates/home.html -->

            <div class="row">

                <h1 id="HeadingTechnologies">Technologies</h1>

                <div class="col-md-3 col-md-offset-2" id="BusinessCardOrangeHalf">

                    <h3 id="BusinessCardJobTitle">Full Stack Developer</h3>

                    <h4 class="TechnologyLabels">Languages: </h4>
                    <h4 class="TechnologyLabels">Frameworks: </h4>
                    <h4 class="TechnologyLabels">Task Runners and Tools: </h4>
                    <h4 class="TechnologyLabels">APIs: </h4>
                    <h4 class="TechnologyLabels">Stack: </h4>
                    <h4 class="TechnologyLabels">Database: </h4>
                    <h4 class="TechnologyLabels">VersionControl: </h4>

                </div>

                <div class="col-md-5" id="BusinessCardWhiteHalf">

                    <h3 id="BusinessCardJobTitleWhite">Full Stack Developer</h3>
                    <h4 class="TechnologySkills">HTML5, CSS3, Javascript ES6, AJAX, JSON, Python, Familiar with C</h4>
                    <h4 class="TechnologySkills">Bootstrap, AngularJS, JQuery, NodeJS, Express.js, Familiar with React, Jasmine</h4>
                    <h4 class="TechnologySkills">RequireJS, Familiar with Browserify, Karma, JIRA</h4>
                    <h4 class="TechnologySkills">RESTful</h4>
                    <h4 class="TechnologySkills">Mean</h4>
                    <h4 class="TechnologySkills">MongoDB, MongooseJS</h4>
                    <h4 class="TechnologySkills">Git</h4>

                    <div id="MobileAndEmail">
                        <h6 id="Mobile"><span id="MobileLabel">Mobile: </span><a href="tel:1-650-799-3206">(650) 799-3206</a></h6>
                        <h6 id="Email"><span id="EmailLabel">Email: </span><a href="mailto:susan.sico@gmail.com">susan.sico@gmail.com</a></h6>
                    </div>
                </div>

            </div> <!--Row -->