<!-- personalPortfolio projects.html -->

            <div class="row">

                <h1 class="HeadingViews">Projects</h1>

                <div class="col-md-5 col-md-offset-1">

                    <ul class="ProjectListStyle">
                        <li class="ProjectListItemStyle">
                            <figure>
                                <figcaption class="ProjectDescription"><span class="ProjectName">Palo Alto Places:</span> Places in Palo Alto CA</figcaption>
                                <!-- <h4 class="ProjectName">Palo Alto Places</h4>-->
                                <a href="https://github.com/susansico/PaloAltoPlaces" target="_blank"><img class="img-responsive right-block" src="../images/palo-alto-places-20-cropped.jpg" alt="Screenshot of Palo Alto Places website."></a>
                            </figure>
                        </li>
                    </ul>

                </div> <!-- Col-md-5 Palo Alto Places Project -->

                <div class="col-md-5">

                    <ul class="ProjectListStyle">
                        <li class="ProjectListItemStyle">
                            <figure>
                                <!--<h4 class="ProjectName">mockit</h4>-->
                                <figcaption class="ProjectDescription"><span class="ProjectName">mockit:</span> A mock reddit website.</figcaption>
                                <a href="https://github.com/shanm19/capstone" target="_blank"><img class="img-responsive left-block" src="../images/mockit-20.jpg" alt="Screenshot of mockit website"></a>
                            </figure>
                        </li>
                    </ul>

                </div> <!-- Col-md-5 mockit Project -->

            </div> <!-- First Row -->

            <div class="row">

                <div class="col-md-5 col-md-offset-1">

                    <ul class="ProjectListStyle">
                        <li class="ProjectListItemStyle">
                            <figure>
                                <!--<h4 class="ProjectName">BookLovers</h4>-->
                                <figcaption class="ProjectDescription"><span class="ProjectName">BookLovers:</span> A book review website.</figcaption>
                                <a href="https://github.com/EvanMorrison/BookReviewSite" target="_blank"><img class="img-responsive right-block" src="../images/booklovers-20.jpg" alt="Screenshot of BookLovers website."></a>
                            </figure>
                        </li>
                    </ul>

                </div> <!-- Col-md-5 BookLOvers Project -->

            </div> <!-- Second Row -->