<!-- personalPortfolio/templates/projects.html -->

    <div class="row ProjectRow">

        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1">

            <ul class="ProjectUL">
                <li>
                    <figure>
                        <figcaption><span>Palo Alto Places:</span> Places in Palo Alto CA. &nbsp;<a href="https://github.com/susansico/PaloAltoPlaces" target="_blank"> Repo Site</a></figcaption>
                        <a href="http://paloaltoplaces.susansico.com/#/" target="_blank"><img id="PaloAltoPlaces" class="img-responsive" style="width: 576px; min-height: 297px;" src="../images/palo-alto-places-20-cropped.jpg"
                        alt="Screenshot of Palo Alto
                        Places
                        website."></a>
                    </figure>
                </li>
            </ul>

        </div> <!-- Col-md-5 Palo Alto Places Project -->

        <div class="col-md-5 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

            <ul class="ProjectUL">
                <li>
                    <figure>
                        <figcaption>mockit: A mock reddit website. &nbsp;<a href="https://github.com/shanm19/capstone" target="_blank">Repo Site</a></figcaption>
                        <a href="http://mockit.susansico.com/#!/" target="_blank"><img class="img-responsive" style="width: 576px; min-height: 301px;" src="../images/mockit-20.jpg" alt="Screenshot of mockit website"></a>
                    </figure>
                </li>
            </ul>

        </div> <!-- Col-md-5 mockit Project -->

    </div> <!-- First Row -->

    <div class="row ProjectRow">

        <div class="col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

            <ul class="ProjectUL">
                <li>
                    <figure>
                        <figcaption>BookLovers: A book review website. &nbsp;<a href="https://github.com/EvanMorrison/BookReviewSite" target="_blank"> Repo Site</a></figcaption>
                        <a href="http://booklovers.susansico.com/#/" target="_blank"><img id="BookLovers" class="img-responsive" style="width: 576px; min-height: 301px;" src="../images/booklovers-20.jpg" alt="Screenshot of BookLovers website."></a>
                    </figure>
                </li>
            </ul>

        </div> <!-- Col-md-5 BookLOvers Project -->

    </div> <!-- Second Row -->