<!-- personalPortfolio/templates/home.html -->

    <div id="TechnologiesWrapper">

        <div class="TechnologiesTitle LanguagesTitle">Languages</div>

        <div class="Languages">

            <ul class="TechnologiesUL">
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>Python</li>
                <li>C (Familiar)</li>
            </ul>

        </div>

        <div class="TechnologiesTitle FrameworksTitle">Frameworks</div>

        <div class="Frameworks">

            <ul class="TechnologiesUL">
                <li>AngularJS</li>
                <li>NodeJS</li>
                <li>ExpressJS</li>
                <li>RESTful Web<br>Services</li>
                <li>Bootstrap</li>
            </ul>

        </div>

        <div class="TechnologiesTitle DBLibToolsTitle">Databases etc.</div>

        <div class="DBLibTools">

            <ul class="TechnologiesUL">
                <li>JQuery</li>
                <li>MongoDB</li>
                <li>MongooseJS</li>
                <li>Jira (Familiar)</li>
                <li>GIT</li>
            </ul>

        </div>

    </div>